<ion-header>
  <ion-toolbar>
    <ion-title>
      Episode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Test Button</p>
  <ng-template #episodeRef></ng-template>

  <p>Test Item</p>
  <!--  <ion-list>-->
  <!--    <ion-item-sliding>-->
  <!--      <ion-item>{{data.show.title + ' - ' + data.episode.code}}</ion-item>-->
  <!--      <ion-item-options side="end">-->
  <!--        <ng-template #episodeItemOptionRef></ng-template>-->
  <!--      </ion-item-options>-->
  <!--    </ion-item-sliding>-->
  <!--  </ion-list>-->

  <app-playlist-list></app-playlist-list>
</ion-content>
